<h4>
  <% if @tblid %>
    <p>
      Name: <%=@tblid.name%>
    </p>
    <p>
      Description: <%=@tblid.description%>
    </p>
  <% end %>
</h4>
<%= link_to "Edit", edit_tbl_path(@tblid) %> |
<%= link_to "Back to Todo Listing", tbls_path() %>
